.navbar_image{
    width:50px;
    margin-right: 2vw;
}
.navbar_colour{
    background-color:bisque;
}
.navbar_brand{
    font-size: 30px;
    text-decoration: none;
}
.search_bar{
    height:40px;
    width: 30vw;
    font-size: 20px
}
#cart_icon{
    width: 50px;
    margin-right: 10px;
}
#cart_count{
    width:2vw;
    border-radius: 100px;
    background-color: chocolate;
    color: white;
    margin-right: 10px;
    padding: 10px;
}
#home{
    text-decoration:none;
    font-size: 30px;
    margin-right: 20px;
}
#user_icon{
    width: 50px;
    margin-right: 10px;
}